root {
  --primary-color: #f1f1f1;
  scroll-behavior: smooth;
}
.navbar {
  background-color: var(--primary-color);
  padding: 10px 0;
  & .logo {
    img {
      height: 50px;
    }
  }
  & .nav-link {
    color: #333;
    font-weight: bold;
    &.active {
      color: #ff8800;
    }
  }
}
section {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#banner {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center;
  color: #fff;
}
.banner-right {
  margin-top: 100px;
  & h2 {
    line-height: 0.5ch;
    font-size: 2.5rem;
  }
  & h1 {
    font-size: 3rem;
    font-weight: bold;
  }
  & p {
    font-size: 1.2rem;
  }
}
.banner-left {
  display: flex;
  justify-content: center;
  align-items: center;
  & img {
    height: 450px;
  }
}
.title {
  color: #ff8800;
  font-weight: bold;
}

#timeline {
  background-color: #ff8800dc;
}

.timeline {
  width: 20rem;
  height: 229px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  overflow: hidden;
  margin-bottom: 10px;
}
.timeline-head {
  height: 72px;
  top: 0px;
  left: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.timeline-date {
  height: 72px;
  background: rgba(25, 25, 25, 1);
  padding: 24px 32px;
  margin: 12px;
  top: 0px;
  left: 0px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.timeline-border {
  width: 5rem;
  height: 2px;
  background: rgba(25, 25, 25, 1);
  top: 35px;
  left: 183px;
  margin-left: -15px;
}
.timeline-body {
  height: 153px;
  margin: 10px;
  top: 76px;
  left: 0px;
}
.timeline-content {
  height: 100px;
  background: rgba(247, 247, 247, 1);
  padding: 20px;
  margin: 12px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.title-timeline {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 3rem;
}

.flex-center {
  display: flex;
  justify-content: center;
}
.weather-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
}

.weather-info {
  background-color: #ff8800;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.weather-info p {
  margin: 5px 0;
}

.weather-info img {
  width: 50px;
  height: 50px;
  display: block;
  margin: 0 auto;
}

#sarana-prasarana {
  background-color: #ff8800;
}

.bg-default {
  background-color: #ff8800;

}

@media screen and (max-width: 768px) {
  #banner {
    & .banner-right {
      margin-top: 0;
      & h2 {
        font-size: 2rem;
        line-height: 1ch;
      }
      & h1 {
        font-size: 2.5rem;
      }
    }
    & .banner-left {
      display: none;
    }
  }
  .title-timeline {
    font-size: 2rem;
  }
}
