root {
  --primary-color: #f1f1f1;
  scroll-behavior: smooth;
}
.navbar {
  background-color: var(--primary-color);
  padding: 10px 0;
  & .logo {
    img {
      height: 50px;
    }
  }
  & .nav-link {
    color: #333;
    font-weight: bold;
    &.active {
      color: #ff8800;
    }
  }
}
#banner {
  background-image: url("../img/banner.png");
  background-size: cover;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  & .banner-right {
    margin-top: 100px;
    & h2 {
      line-height: 0.5ch;
      font-size: 2.5rem;
    }
    & h1 {
      font-size: 3rem;
      font-weight: bold;
    }
    & p {
      font-size: 1.2rem;
    }
  }
  & .banner-left {
    display: flex;
    justify-content: center;
    align-items: center;
    & img {
      height: 450px;
    }
  }
}

@media screen and (max-width: 768px) {
  #banner {
    & .banner-right {
      margin-top: 0;
      & h2 {
        line-height: 1ch;
      }
    }
    & .banner-left {
      display: none;
    }
  }
}
